<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi,</p>
    <p>
    Your Report generated<br>
    --------------------------
    </p>
    <p><a href="<%= @url%>" download="my-suggested-file-name">Click here</a> to download report</p>
    </p>
    <p>Thank You</p>
  </body>
</html>